.courses {
    background-color: #f3f2ef;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .loading-animation {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px
  }

  .search-form {
    max-width: 600px;
    width: 90vw;
    background-color: #f3f2ef;
  }
  